.modal__title {
    font-size: 32px;
    margin-bottom: 25px;
    font-weight: bold;
}
.modal__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.modal__form-group .modal__label {
    display: block;
    margin-left: 24px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    color: #9DA5AF; 
}
.modal__input, .modal__textarea {
    padding: 14px 14px 14px 28px;
    border-radius: 28px;
    border: none;
    font-size: 16px;
    background: #fff;
    color: #9DA5AF;
    font-family: "Montserrat", serif;
    width: 100%;
}
.modal__textarea {
    resize: vertical;
    min-height: 120px;
}
.modal__button {
    align-self: flex-end;
    display: inline-block;
    background-color: #a6ce39;
    margin-top: 24px;
    padding: 17px 24px;
    border: none;
    border-radius: 34px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    width: 100%;
    max-width: fit-content;
    transition: background-color 0.35s;
    text-align: center;
}
.modal__button:hover {
    background: #8fbf33;
}

.modal__counter {
    justify-self: flex-end;
    margin-right: 24px;
    margin-top: 8px;
    font-size: 14px;
    color: #9DA5AF;
}

input ~ .modal__counter {
    margin-top: 12px;
}
.modal__errors {
    align-self: flex-start;
}

.modal__errors ul {
    margin-top: 8px;
    padding: 8px 14px 8px 14px;
    font-size: 14px;
    color: #FF7461;
    background-color: rgba(255, 116, 97, 10%);
    border-radius: 24px;
}

.modal__errors ul li {
  list-style-type: none;
}

@media (min-width: 1200px) {
    .modal__title {
        font-size: 52px;
    }

    .modal__input {
        min-width: 380px;
    }
}

@media (min-width: 1440px) {
    .modal__input {
        min-width: 620px;
        padding: 27px 14px 27px 28px;
        border-radius: 36px;
    }

    .modal__textarea {
        padding: 22px 14px 14px 28px;
    }
}