.header__button-profile {
    position: relative;
}

.header__user-icon {
    max-width: 100%;
    height: auto;
}

.header__lougout-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: -20px;
    width: 100px;
    height: 70px;
    background-color: #1b2f46;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    color: #B1C909;
    margin-top: 20px;
    z-index: 99;
}

.header__lougout {
    color: #B1C909;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}