.header {
    padding: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__user-name {
    display: inline-block;
    margin-right: 12px;
    color: #fff;
}