.header {
    padding: 20px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    color: #a6ce39;
    font-size: 24px;
    font-weight: bold;
}

.header__logo-icon {
    max-width: 100%;
    height: auto;
    margin-right: 8px;
}

.header__user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__user-name {
    display: inline-block;
    margin-right: 12px;
    color: #fff;
}

.header__user-icon {
    max-width: 100%;
    height: auto;
}

.header__button {
    background-color: #a6ce39;
    border: none;
    padding: 11px 24px;
    border-radius: 32px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.35s;
    gap: 11px;
}

.header__button:hover {
    background-color: #8fbf33;
}

.header__button-text {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
}

.header__button-icon {
    max-width: 100%;
    height: auto;
}

.header__button-profile {
    position: relative;
}

.header__lougout-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    left: -20px;
    width: 100px;
    height: 70px;
    background-color: #1b2f46;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    color: #B1C909;
    margin-top: 20px;
    z-index: 99;
}

.header__lougout {
    color: #B1C909;
    text-decoration: none;
    font-size: 18px;
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;    
}