.modal__success-window p {
    margin-bottom: 15px;
}

.modal__title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal__success-text {
    margin-bottom: 20px;
}

.modal__signup-link {
    color: #a6ce39;
    text-decoration: none;
    font-weight: bold;
}


@media (min-width: 1200px) {

    .modal__title {
        font-size: 52px;
    }

}