.modal__title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
}

.modal__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal__success-text {
    margin-bottom: 20px;
}

.modal__success-text {
    margin-bottom: 20px;
}

.modal__signup-link {
    color: #a6ce39;
    text-decoration: none;
    font-weight: bold;
}

.modal__success-window p {
    margin-bottom: 15px;
}

.modal__success-window .modal__button {
    align-self: flex-end;
    display: inline-block;
    background-color: #a6ce39;
    margin-top: 24px;
    padding: 17px 24px;
    border: none;
    border-radius: 34px;
    font-size: 19px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    width: 100%;
    max-width: fit-content;
    transition: background-color 0.35s;
    text-align: center;
}

.modal__success-window .modal__button:hover {
    background: #8fbf33;
}

@media (min-width: 1200px) {

    .modal__title {
        font-size: 52px;
    }

}