@import './base.css';

body {
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
}

.container {
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1380px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}

